* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

:root {
  --btn-border: 2px solid rgba(255, 166, 0, 0.897);
  --btn-green-bgColor: rgb(53, 196, 1);
  --btn-orange-bgColor: #ff671ae8;
}
html {
  width: 100%;
  background-color: red;
}

body {
  background: linear-gradient(#fff200, #ff9e62);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  user-select: none;
  width: 100%;
  overflow-x: hidden;
}

button {
  cursor: pointer;
}

.body-proxy {
  background-color: rgba(255, 255, 255, 0.94);
  padding: 0 3% ;
  width: 100%;
  padding-bottom: 10vh;
}
.responsive-navbar{
  display: none;
}
nav {
  position: sticky;
  top: 0;
  height: 10vh;
  z-index: 999;
  /* width: 100vw; */
  background-color: rgba(255, 255, 255, 0.941);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 3%;
}

.nav-items {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 40%;
  height: 80%;
}

.nav-items a {
  text-decoration: none;
  font-size: 17px;
  font-weight: 400;
  color: #4d4c4c;
  font-weight: 400;

  position: relative;
}
.nav-items a::after {
  content: "";
  position: absolute;
  top: 22px;
  left: -2px;
  width: 0%;
  height: 1px;
  background-color: #4d4c4c;
  transition: width 0.3s ease;
}

.nav-items a:hover::after {
  width: 110%;
}

.logo-box {
  height: 80%;
  width: 10%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo-box img {
  height: 80%;
}

.nav-buttons {
  height: 80%;
  width: 15%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.nav-buttons img {
  width: 10%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-buttons button {
  width: 45%;
  height: 70%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 5px;
  background: none;
  font-size: 17px;
  border: var(--btn-border);
}

.nav-buttons button img {
  width: 20%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* ================================ login box ============================== */
.blur-body {
  filter: blur(2px);
  pointer-events: none; /* prevents clicking the background */
  user-select: none;
}
.no-scroll {
  overflow: hidden;
}

#login-page {
  height: 100vh;
  width: 100%;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.421);
  z-index: 1;
  display: none;
  padding: 2%;
}
.login-popup {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 70vmin;
  width: 40%;
  background-color: rgb(255, 255, 255);
  border-radius: 30px;
}

#unleash-books-box {
  display: flex;
  width: 100%;
  height: 80vh;
  justify-content: space-around;
  align-items: center;
}
.unleash-text {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  gap: 30px;
  flex-direction: column;
}
.unleash-text h1 {
  font-size: 60px;
  font-weight: 700;
}
.unleash-text h1 span {
  color: #ff7d2c;
}
.unleash-text p {
  font-size: 20px;
  font-weight: 500;
}
.unleash-text button {
  font-size: 20px;
  font-weight: 500;
  height: 50px;
  width: 220px;
  margin-right: 15px;
  border-radius: 10px;
  border: none;
  background: none;
}
#purchase-btn {
  background: var(--btn-green-bgColor);
  color: #fff;
}
#explore-bkshop-btn {
  border: var(--btn-border);
}
.front-books {
  width: 40%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.front-books img {
  width: 600px;
  filter: drop-shadow(-8px 25px 10px rgb(156, 156, 156));
}
#browes-by-bk-typ {
  display: flex;
  padding-top: 10vh;
  align-items: center;
  width: 100%;
  height: 50px;
  padding: 0 20px;
  justify-content: space-between;
}
#browes-by-bk-typ h1 {
  font-size: 50px;
}
.arrow-btn-box {
  width: 150px;
  display: flex;
  height: 100%;
  justify-content: space-around;
}

/* <======================== right arrows =============================> */

.right-arrows {
  width: 50%;
  height: 100%;
}
.left-arrows {
  width: 250px;
  height: 100%;
}
#right-arrow-btn {
  position: relative;
  height: 100%;
  width: 50%;
  background: none;
  border: none;
  outline: none;
}

.under {
  position: absolute;
  top: 0px;
  left: 20%;
  height: 50px;
  border-radius: 50%;
  padding: 10px;
}

.over {
  position: absolute;
  top: 0px;
  left: 20%;
  height: 50px;
  border-radius: 50%;
  padding: 10px;
  border: 1px solid rgb(172, 169, 169);
  transition: 0.9s;
}

.right-arrows #right-arrow-btn:hover .over {
  display: none;
}

.right-arrows #right-arrow-btn:hover .under {
  display: block;
  background-color: #ff7d2c;
  transition: 0.9s;
}
.right-arrows #right-arrow-btn:hover .right-arrows button {
  background-color: #ff7d2c;
}

/* <======================== left arrows =========================> */

.left-arrows {
  width: 50%;
  height: 100%;
}
#left-arrow-btn {
  position: relative;
  height: 100%;
  width: 50%;
  background: none;
  border: none;
  outline: none;
}

.left-arrows #left-arrow-btn:hover .over {
  display: none;
}

.left-arrows #left-arrow-btn:hover .under {
  display: block;
  background-color: #ff7d2c;
  transition: 0.9s;
}
.left-arrows #left-arrow-btn:hover .left-arrows button {
  background-color: #ff7d2c;
}

/* === books-categories ===== */
.books-categories {
  width: 100%;
  height: 10vh;
  margin-top: 60px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.func-card {
  width: 14%;
  height: 90%;
  background-color: #fff;
  box-shadow: 0px 8px 19px #d5d2d2;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-radius: 7px;
}
.func-card img {
  width: 28%;
  background-color: #fff;
}

/* <======== offers-poster-box =======> */

.offers-poster-box {
  margin-top: 25vh;
  width: 90%;
  margin-left: 5%;
  height: 50vh;
  background-color: #fbe7dbdb;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.offers-poster-box button {
  height: 50px;
  width: 150px;
  border-radius: 10px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 500;
  font-size: 16px;
}
#poster-img-1 {
  width: 25%;
}
#poster-img-2 {
  width: 30%;
}
.offer-content {
  height: 100%;
  width: 45%;
  padding-left: 60px;
  padding-top: 50px;
}
.offer-content h1 {
  font-size: 3rem;
  margin-bottom: 30px;
}
.offer-purchase-btn {
  background-color: var(--btn-orange-bgColor);
  border: none;
  color: #d5d2d2;
}

.offer-coupon {
  border: 1px solid rgb(103, 103, 103);
}
